@red   : #b52025;
@black : #333534;
@gray : #dcdcdc;
@black_hover:#4f4f4f;
@date :#919191;
@maincolor:#575757;
@read_more : #b4b4b4;
@blue: #3b5fad;
@logo: url("img/logo.png");
@logo_height: 50px;
@logo_width: 403px;

@live: url("img/live.png");
@social : url("img/social.png");
@search : url("img/search.png");
@livebackground : url("img/live_back.png");

@marker: url("img/markpng");
@twitter: url("img/twitter.png");
@social_white: url("img/social_white.png");
@social_red: url("img/social_red.png");
@sources : url("img/logos.jpg");
@selectedsource: url("img/source.png");
@triangle: url("img/triangle.png");
@sky: url("img/sky.jpg");
.clear{
  clear:both;
  content:" ";
  display:block;
}

html{
  body{
    background: #f0f0f0;
  }
  .sky{
    background:@sky repeat-x center;
    height:39px;

  }
  .nopadding{
    padding: 0px;
  }
  .nopaddingleft{
    padding-left: 0px;
    padding-righ: 15px;
  }
  .nopaddingright{
    padding-right: 0px;
    padding-left: 15px;
  }
  .nopaddingright2{
    padding-right: 0px;
    padding-left: 30px;
  }
  .nopaddingcenter{
    padding-right: 15px;
    padding-left: 15px;
  }
  a{
    color:@red;
    &:hover {
      text-decoration: none;
    }
  }
  .margined{
    margin-top: 24px;
    &.marginedtop{
      margin-top:56px;
    }
  }
  *:focus {
    outline: none;
  }
  nav{
    height:110px;
    border-top:4px solid white;
    background-color: @red;
    padding: 24px 0px 30px 0px;
    .live{
      background-image: @live;
      background-repeat: no-repeat;
      width:125px;
      height:40px;
      display: block;
      margin-top: 4px;
      text-indent: -5000px;
    }
    .logo{
      display: block;
      margin: 0 auto;
      background-image: @logo;
      background-repeat: no-repeat;
      height:@logo_height;
      width:@logo_width;
      text-indent: -5000px;
    }
    .social{
        li {
          list-style: none;
          float:left;
          margin-left:11px;
          a {
            text-indent: -5000px;
            background-image: @social;
            background-repeat: no-repeat;
            height: 19px;
            width: 19px;
            display: block;
            &.facebook{
              background-position: -27px 0px;
            }
            &.google{
              background-position: -54px 0px
            }
            &.youtube{
              background-position: -81px 0px
            }
            &.rss{
              background-position: -104px 0px;
              width: 114px;
            }
          }
        }
        &:after{
          //.clear;
        }
    }
    .search{
      padding: 7px 23px 7px 13px;
      background-image: @search;
      background-repeat: no-repeat;
      background-position: 95% center;
      margin-top: 10px;
      width:84%;
      font-family: "Lato", sans-serif;
    }
  }
  #menu,#submenu{
    &.secondary{
      background: @gray;
      text-align: center;
      padding-top: 8px;
      ul {
        width:auto;
        li{
          float:none;
          list-style: none;
          display: inline;
        }
        a {
          color: @maincolor;
          display: inline;
          text-transform: none;
          &:hover{
            background: none;
          }
        }
      }

    }
    height:36px;
    background:@black;
    text-align: center;
    ul{
      margin:0px auto;
      padding: 0px;
      width:960px;
      li{
        padding: 0px;
        float:left;
        list-style: none;
        a{
          display:block;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          color:white;
          padding: 7px 20px;
          font-size: 14px;
          text-transform: uppercase;
          &:hover{
            background: @black_hover;
          }
          &.live{
            background: @red;
            width:175px;
            &:after{
              content:" ";
              display: block;
              background-image: @livebackground;
              background-repeat: no-repeat;
              height: 27px;
              position: absolute;
              margin-top: 7px;
              width: 189px;
              margin-left: -20px;
            }
          }
        }
      }
    }
  }

  .banner_top{
    margin: 20px 0px;
  }

  .slider{
    height:340px;
    font-family: 'Cantata One', serif;
    .note{
      height:340px;
      background-position: center;
    }
    .description{
      padding: 15px 24px;
      height:340px;
      background: @black;

      h1{
        font-size: 24px;
        color:white;
        line-height: 32px;
      }
      .read_more{
        color: @read_more;
        font-family: "Lato", sans-serif;
        font-size: 18px;
      }
      .markers{
        margin-top: 122px;
        li {
          list-style: none;
          float:left;
          width:21px;
          height:14px;
          display:block;
          margin-right: 34px;
          a {
            display: block;
            background-image: @marker;
            width: 21px;
            height: 14px;
            &.active{
              background-position: right;
            }
          }
        }
      }
    }
  }

  .margined{
    .banner{
      margin-bottom: 20px;
    }
  }

  #twitter_card{
    background-image: @twitter ;
    background-position: 0px 0px;
    width:100%;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    height:76px;
    padding-left: 130px;
    padding-top: 15px;
    font-size: 13px;
    &:after{
      .clear;
    }
    div{

      float:left;
      &.message{
        width:95%;
        overflow: hidden;
        position: relative;
        .slider{
          webkit-transition-property: -webkit-transform, margin-left;
          -webkit-transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-in;
          width: 2000px;
          float: none;
          height: 55px;
        }
        p{
          width:590px;
          float:left;
          padding:5px 15px;
        }
      }
      &.direction{
        margin-top: 12px;
        width:13px;
        background:red;

        a{

          background:url("img/red_direction.jpg") no-repeat left;
          display:block;
          width:13px;
          height:25px;
        }
        &.right{
          a{
            background:url("img/red_direction.jpg") no-repeat right;
          }
        }
      }
    }
  }
  #now_live{
    height:684px;
    background: @black;
    padding: 20px;
    ul{
      float:right;
      li{
        display: inline;
        float: left;
        margin-left: 24px;
      }
    }
    h1{
      font-size: 28px;
      margin:0px;
      margin-bottom: 20px;
      color:white;
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-weight: 700;

    }
    h2{
      font-size: 27px;
      line-height: 38px;
      margin:0px 0px 10px 0px;
      color:#f5f5f5;
      font-family: 'Cantata One', serif;
    }
    p{
      color:white;
      font-family: "Lato", sans-serif;
      font-size: 16px;
    }
    .date{
      color:#919191;
      font-size: 15px;
    }

  }
  .network{
    float:right;
    li{
      display: inline;
      float: left;
      margin-left: 24px;
    }
    a{
      height:22px;
      width:27px;
      display: block;
      background-image: @social_white;
      &.facebook{
        background-position: -43px 0px;
      }
      &.google{
        background-position: -88px 0px;
        width:34px;
      }
    }
  }
  .blocknews{
    h1{
      color:@red;
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
    h3{
      color:@red;
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-size: 17px;
      font-weight: 700;
    }
  }
  .note{
    img{
      width:100%;
    }
    margin-bottom: 35px;
    h2{
      font-family: 'Cantata One', serif;
      color: @black;
      font-size: 18px;
      margin:10px 0px 5px 0px;
    }
    span{
      color: @date;
      font-family: "Lato", sans-serif;
      font-size: 14px;
    }
  }
  .tab-panel{
    background: white;
    .titles{
      padding-top: 10px;
      background: @selectedsource no-repeat bottom left;
      clear: both;
      content: " ";
      display: block;
      height: 67px;
      .clear;
      .tab{
        width:50%;
        float:left;
        a {
          border-bottom: 2px solid #eee;
          display: block;
          width:100%;
          text-indent: -5000px;
          height:40px;
          background: @sources 30px no-repeat;
          &.reforma{
            background: @sources -155px no-repeat;
          }
        }
      }
    }
    .content{
      padding: 0px 16px;
      margin-top: 10px;
      height: 486px;
      overflow-x: auto;
      ul {
        margin: 0px;
        padding: 0px;
        li {
          background: @triangle no-repeat left 6px;
          list-style: none;
          padding-left: 20px;
          margin-bottom: 22px;
          a{
            font-family: "Lato", sans-serif;
            font-weight: 700;
            color:@black;
          }
        }
      }
    }
  }
  .morereaded{
    .content{
      background: white;
      height:368px;
      padding: 18px 24px;
      a{
        &:after{
          .clear;
        }
        margin-bottom: 30px;
        display:block;
        color:@black;
        font-size: 15px;
        font-weight: 700;
        font-family: "Lato", sans-serif;
        span{
          font-weight: 400;
          font-family: 'Cantata One', serif;
          font-size: 25px;
          color:@red;
          margin-right: 4px;
          display: block;
          float:left;
        }
      }
    }
  }
  .column-writer{
    .content{
      background: white;
      height:264px;
      padding: 25px;
      a{
        background: @triangle left 4px no-repeat;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 14px;
        padding-left: 20px;
        display:block;
        color:@black;
        span{
          color:@date;
          display: block;
          font-size: 13px;
          font-weight: 400;
        }
        margin-bottom: 20px;
      }
    }
    .header{
      background: @blue;
      padding: 12px 5px 16px 12px;
      font-family: "Lato", sans-serif;
        &:after{
          .clear;
        }
      color:white;
        img {
          border: 2px solid white;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          float:left;
          width:77px;
        }
        .description{
          float:left;
          margin-left: 15px;
          width: 200px;
          h2{
            margin:0px;
            color:white;
            font-size: 26px;
            margin-top:12px;
            margin-bottom: 5px;
            font-family: 'Cantata One', serif;
          }
        }
    }

  }
  .reformablock{
    background: white;
    font-family: "Lato", sans-serif;
    &:after{
      .clear;
    }
    span,a{
      float: left;
      height:50px;
      color:#333534;
    }
    .note{
      padding: 0px 5px;
    }
    .logo{
      //padding: 20px;
      text-indent: -5000px;
      width:200px;
      display: block;
      background:#0c8565 url("img/reforma.png") no-repeat center;
    }
    .content-block{
      float: left;
      padding: 16px 0px 0px 23px;
      height: 50px;
      &:after{
        .clear;
      }
    }
    .title{
      color:#0c8565;
      text-transform: uppercase;
      padding-right: 10px;
    }
    .divisor{
      padding:0px 5px;
    }
  }
  .news_collection{
    margin:20px 0px;
    background: white;
    &:after{
      .clear;
    }
    .title{
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 25px;
      text-transform: uppercase;
      text-align: center;
      padding: 5px 0px;
    }
    .mix{
      background: #dcdcdc;
      ul{
        margin-left: 10px;
        padding: 3px 10px;
        li{
          padding:0px ;
          margin:0px;
          list-style: none;
          span{
            color:#108b43;

          }
        }
      }
    }
    .link{
      padding: 10px 0px;
      text-align: center;
      a {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color:white;


      }
    }
    .mainnote{
      a{
        font-size: 22px;
        margin:5px 0px
      }
    }
    .title,.link,.mix{
      height:49px;
      margin-bottom: 15px;
    }
    .link a{
      font-weight: normal;
    }

    &.green {
      .title,.link {
        background:#108b43;
        color:white;
      }
    }&.red {
      .title,.link {
        background:#ef0004;
        color:white;
      }
    }
    &.blue {
      .title,.link {

        background:#16b6d3;
        color:white;
      }
    }
    &.purple {
      .title,.link {

        background:#7f4198;
        color:white;
      }
    }
  }
  .more-live{
    margin-top: 40px;
    h1{
      color:#b52025;
      margin:0px;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
    }
    .maincontent{
      background: white;
      padding: 20px;
      margin-top: 10px;
      &:after{
        .clear;
      }
    }
    .maintitle{
      font-weight: 700;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      padding-top: 9px;
    }
    .secondbutton{
      a{
        background:#b52025;
        color:white;
        padding:6px 14px;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 18px;
        margin:5px 0px;
        float: right;
      }
    }
    .network{
      margin-top: 5px;
      a{
        background-image: @social_red;
      }
    }
    .mainnote{
      margin-bottom: 5px;
      a{
        margin: 5px 0px;
        color: #b52025;
        display: block;
        font-family: 'Cantata One', serif;
        font-size: 29px;
        line-height: 31px;
      }
    }
    .note{
      a{
        font-family: 'Cantata One', serif;
        font-size: 15px;
        color:@black;
      }
      width:24.2%;
      margin-left: 1%;
      &.note-1{
        margin-left: 0px;
      }
    }
  }
  footer{
    background: #333534 url("img/footer.png") no-repeat left top;
    font-family: "Lato", sans-serif;
    color:white;
    padding: 20px 0px 50px 0px;
    .rightinfo{
      text-align: right;
      color:#b8b8b8;
      a{
        color:#b8b8b8;
      }
    }
    h1{
      font-family: "Lato", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      border-bottom:#b8b8b8 1px solid;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .social{
      margin: 50px 0px 0px;
      float: right;
      li {
        list-style: none;
        float:left;
        margin-left:11px;
        a {
          text-indent: -5000px;
          background-image: @social;
          background-repeat: no-repeat;
          height: 19px;
          width: 19px;
          display: block;
          &.facebook{
            background-position: -27px 0px;
          }
          &.google{
            background-position: -54px 0px
          }
          &.youtube{
            background-position: -81px 0px
          }
          &.rss{
            background-position: -104px 0px;
            width: 114px;
          }
        }
      }
      &:after{
        //.clear;
      }
    }
    .search{
      padding: 7px 23px 7px 13px;
      background-image: @search;
      background-repeat: no-repeat;
      background-position: 95% center;
      margin-top: 10px;
      width:84%;
      font-family: "Lato", sans-serif;
    }
    ul {
      padding:0px;
      margin:0px;
      li {
        padding:0px;
        margin:0px;
        list-style: none;
        margin-bottom: 8px;
        a {
          color: #b8b8b8;

        }
      }
    }
  }
}

