.clear {
  clear: both;
  content: " ";
  display: block;
}
html body {
  background: #f0f0f0;
}
html .sky {
  background: url("img/sky.jpg") repeat-x center;
  height: 39px;
}
html .nopadding {
  padding: 0px;
}
html .nopaddingleft {
  padding-left: 0px;
  padding-righ: 15px;
}
html .nopaddingright {
  padding-right: 0px;
  padding-left: 15px;
}
html .nopaddingright2 {
  padding-right: 0px;
  padding-left: 30px;
}
html .nopaddingcenter {
  padding-right: 15px;
  padding-left: 15px;
}
html a {
  color: #b52025;
}
html a:hover {
  text-decoration: none;
}
html .margined {
  margin-top: 24px;
}
html .margined.marginedtop {
  margin-top: 56px;
}
html *:focus {
  outline: none;
}
html nav {
  height: 110px;
  border-top: 4px solid white;
  background-color: #b52025;
  padding: 24px 0px 30px 0px;
}
html nav .live {
  background-image: url("img/live.png");
  background-repeat: no-repeat;
  width: 125px;
  height: 40px;
  display: block;
  margin-top: 4px;
  text-indent: -5000px;
}
html nav .logo {
  display: block;
  margin: 0 auto;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  height: 50px;
  width: 403px;
  text-indent: -5000px;
}
html nav .social li {
  list-style: none;
  float: left;
  margin-left: 11px;
}
html nav .social li a {
  text-indent: -5000px;
  background-image: url("img/social.png");
  background-repeat: no-repeat;
  height: 19px;
  width: 19px;
  display: block;
}
html nav .social li a.facebook {
  background-position: -27px 0px;
}
html nav .social li a.google {
  background-position: -54px 0px;
}
html nav .social li a.youtube {
  background-position: -81px 0px;
}
html nav .social li a.rss {
  background-position: -104px 0px;
  width: 114px;
}
html nav .search {
  padding: 7px 23px 7px 13px;
  background-image: url("img/search.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  margin-top: 10px;
  width: 84%;
  font-family: "Lato", sans-serif;
}
html #menu,
html #submenu {
  height: 36px;
  background: #333534;
  text-align: center;
}
html #menu.secondary,
html #submenu.secondary {
  background: #dcdcdc;
  text-align: center;
  padding-top: 8px;
}
html #menu.secondary ul,
html #submenu.secondary ul {
  width: auto;
}
html #menu.secondary ul li,
html #submenu.secondary ul li {
  float: none;
  list-style: none;
  display: inline;
}

html #menu ul{
  position:relative;
}

html #menu ul ul{
  display: none;
  position:absolute;
  top:100%;
  left:0;
}

html #menu ul li
{
  position:relative;
  float:left;
}

html #menu ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background: #4f4f4f;
  z-index: 999;
}

html #menu ul ul li
{
  float:none;
  width:150px;
  text-align:left;
  padding-left: 15px;
}

html #container_articles_menu a{
  padding: 0 !important;
  font-family: 'Lato',sans-serif;
  text-transform: capitalize !important;
}

html #menu ul ul li:before {   
  content: "";  
  border-color: transparent #b52025;  
  border-style: solid;  
  border-width: 0.35em 0 0.35em 0.45em;  
  display: block;  
  height: 0;  
  width: 0;  
  left: 0.6em;  
  top: 1.3em;  
  position: relative;  
}

html #menu ul ul li a:hover {
  font-weight: bold;
}



html #menu ul ul li a{
  padding: 2px  25px;
  font-weight: 400;
}

html #menu ul ul ul
{
  top:0;
  left:100%;
  width:800px;
  height: auto;
  z-index: 9999;
}

html #menu ul ul ul li
{
  width: 200px;
  float:left;
}

html #menu ul li:hover > ul
{
  display:block;
}

html #container_articles_menu article{
  padding: 20px;
}

html #container_articles_menu article p{
  font-family: "Lato", sans-serif;
  color:white;
  width: 150px;
  padding-top: 15px;

}


html #menu.secondary ul a,
html #submenu.secondary ul a {
  color: #575757;
  display: inline;
  text-transform: none;
}
html #menu.secondary ul a:hover,
html #submenu.secondary ul a:hover {
  background: none;
}
html #menu ul,
html #submenu ul {
  margin: 0px auto;
  padding: 0px;
  width: 960px;
}
html #menu ul li,
html #submenu ul li {
  padding: 0px;
  float: left;
  list-style: none;
}
html #menu ul li a,
html #submenu ul li a {
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: white;
  padding: 7px 20px;
  font-size: 14px;
  text-transform: uppercase;
}
html #menu ul li a:hover,
html #submenu ul li a:hover {
  background: #4f4f4f;
}
html #menu ul li a.live,
html #submenu ul li a.live {
  background: #b52025;
  width: 175px;
}
html #menu ul li a.live:after,
html #submenu ul li a.live:after {
  content: " ";
  display: block;
  background-image: url("img/live_back.png");
  background-repeat: no-repeat;
  height: 27px;
  position: absolute;
  margin-top: 7px;
  width: 189px;
  margin-left: -20px;
}
html .banner_top {
  margin: 20px 0px;
}
html .slider {
  height: 340px;
  font-family: 'Cantata One', serif;
}
html .slider .note {
  height: 340px;
  background-position: center;
}
html .slider .description {
  padding: 15px 24px;
  height: 340px;
  background: #333534;
}
html .slider .description h1 {
  font-size: 24px;
  color: white;
  line-height: 32px;
}
html .slider .description .read_more {
  color: #b4b4b4;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
html .slider .description .markers {
  margin-top: 122px;
}
html .slider .description .markers li {
  list-style: none;
  float: left;
  width: 21px;
  height: 14px;
  display: block;
  margin-right: 34px;
}
html .slider .description .markers li a {
  display: block;
  background-image: url("img/markpng");
  width: 21px;
  height: 14px;
}
html .slider .description .markers li a.active {
  background-position: right;
}
html .margined .banner {
  margin-bottom: 20px;
}
html #twitter_card {
  background-image: url("img/twitter.png");
  background-position: 0px 0px;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  height: 76px;
  padding-left: 130px;
  padding-top: 15px;
  font-size: 13px;
}
html #twitter_card:after {
  clear: both;
  content: " ";
  display: block;
}
html #twitter_card div {
  float: left;
}
html #twitter_card div.message {
  width: 95%;
  overflow: hidden;
  position: relative;
}
html #twitter_card div.message .slider {
  webkit-transition-property: -webkit-transform, margin-left;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  width: 2000px;
  float: none;
  height: 55px;
}
html #twitter_card div.message p {
  width: 590px;
  float: left;
  padding: 5px 15px;
}
html #twitter_card div.direction {
  margin-top: 12px;
  width: 13px;
  background: red;
}
html #twitter_card div.direction a {
  background: url("img/red_direction.jpg") no-repeat left;
  display: block;
  width: 13px;
  height: 25px;
}
html #twitter_card div.direction.right a {
  background: url("img/red_direction.jpg") no-repeat right;
}
html #now_live {
  height: 684px;
  background: #333534;
  padding: 20px;
}
html #now_live ul {
  float: right;
}
html #now_live ul li {
  display: inline;
  float: left;
  margin-left: 24px;
}
html #now_live h1 {
  font-size: 28px;
  margin: 0px;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
html #now_live h2 {
  font-size: 27px;
  line-height: 38px;
  margin: 0px 0px 10px 0px;
  color: #f5f5f5;
  font-family: 'Cantata One', serif;
}
html #now_live p {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
html #now_live .date {
  color: #919191;
  font-size: 15px;
}
html .network {
  float: right;
}
html .network li {
  display: inline;
  float: left;
  margin-left: 24px;
}
html .network a {
  height: 22px;
  width: 27px;
  display: block;
  background-image: url("img/social_white.png");
}
html .network a.facebook {
  background-position: -43px 0px;
}
html .network a.google {
  background-position: -88px 0px;
  width: 34px;
}
html .blocknews h1 {
  color: #b52025;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
html .blocknews h3 {
  color: #b52025;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 700;
}
html .note {
  margin-bottom: 35px;
}
html .note img {
  width: 100%;
}
html .note h2 {
  font-family: 'Cantata One', serif;
  color: #333534;
  font-size: 18px;
  margin: 10px 0px 5px 0px;
}
html .note span {
  color: #919191;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
html .tab-panel {
  background: white;
}
html .tab-panel .titles {
  padding-top: 10px;
  background: url("img/source.png") no-repeat bottom left;
  height: 67px;
  clear: both;
  content: " ";
  display: block;
}
html .tab-panel .titles .tab {
  width: 50%;
  float: left;
}
html .tab-panel .titles .tab a {
  border-bottom: 2px solid #eee;
  display: block;
  width: 100%;
  text-indent: -5000px;
  height: 40px;
  background: url("img/logos.jpg") 30px no-repeat;
}
html .tab-panel .titles .tab a.reforma {
  background: url("img/logos.jpg") -155px no-repeat;
}
html .tab-panel .content {
  padding: 0px 16px;
  margin-top: 10px;
  height: 486px;
  overflow-x: auto;
}
html .tab-panel .content ul {
  margin: 0px;
  padding: 0px;
}
html .tab-panel .content ul li {
  background: url("img/triangle.png") no-repeat left 6px;
  list-style: none;
  padding-left: 20px;
  margin-bottom: 22px;
}
html .tab-panel .content ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #333534;
}
html .morereaded .content {
  background: white;
  height: 368px;
  padding: 18px 24px;
}
html .morereaded .content a {
  margin-bottom: 30px;
  display: block;
  color: #333534;
  font-size: 15px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
html .morereaded .content a:after {
  clear: both;
  content: " ";
  display: block;
}
html .morereaded .content a span {
  font-weight: 400;
  font-family: 'Cantata One', serif;
  font-size: 25px;
  color: #b52025;
  margin-right: 4px;
  display: block;
  float: left;
}
html .column-writer .content {
  background: white;
  height: 264px;
  padding: 25px;
}
html .column-writer .content a {
  background: url("img/triangle.png") left 4px no-repeat;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding-left: 20px;
  display: block;
  color: #333534;
  margin-bottom: 20px;
}
html .column-writer .content a span {
  color: #919191;
  display: block;
  font-size: 13px;
  font-weight: 400;
}
html .column-writer .header {
  background: #3b5fad;
  padding: 12px 5px 16px 12px;
  font-family: "Lato", sans-serif;
  color: white;
}
html .column-writer .header:after {
  clear: both;
  content: " ";
  display: block;
}
html .column-writer .header img {
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  width: 77px;
}
html .column-writer .header .description {
  float: left;
  margin-left: 15px;
  width: 200px;
}
html .column-writer .header .description h2 {
  margin: 0px;
  color: white;
  font-size: 26px;
  margin-top: 12px;
  margin-bottom: 5px;
  font-family: 'Cantata One', serif;
}
html .reformablock {
  background: white;
  font-family: "Lato", sans-serif;
}
html .reformablock:after {
  clear: both;
  content: " ";
  display: block;
}
html .reformablock span,
html .reformablock a {
  float: left;
  height: 50px;
  color: #333534;
}
html .reformablock .note {
  padding: 0px 5px;
}
html .reformablock .logo {
  text-indent: -5000px;
  width: 200px;
  display: block;
  background: #0c8565 url("img/reforma.png") no-repeat center;
}
html .reformablock .content-block {
  float: left;
  padding: 16px 0px 0px 23px;
  height: 50px;
}
html .reformablock .content-block:after {
  clear: both;
  content: " ";
  display: block;
}
html .reformablock .title {
  color: #0c8565;
  text-transform: uppercase;
  padding-right: 10px;
}
html .reformablock .divisor {
  padding: 0px 5px;
}
html .news_collection {
  margin: 20px 0px;
  background: white;
}
html .news_collection:after {
  clear: both;
  content: " ";
  display: block;
}
html .news_collection .title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0px;
}
html .news_collection .mix {
  background: #dcdcdc;
}
html .news_collection .mix ul {
  margin-left: 10px;
  padding: 3px 10px;
}
html .news_collection .mix ul li {
  padding: 0px ;
  margin: 0px;
  list-style: none;
}
html .news_collection .mix ul li span {
  color: #108b43;
}
html .news_collection .link {
  padding: 10px 0px;
  text-align: center;
}
html .news_collection .link a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
}
html .news_collection .mainnote a {
  font-size: 22px;
  margin: 5px 0px;
}
html .news_collection .title,
html .news_collection .link,
html .news_collection .mix {
  height: 49px;
  margin-bottom: 15px;
}
html .news_collection .link a {
  font-weight: normal;
}
html .news_collection.green .title,
html .news_collection.green .link {
  background: #108b43;
  color: white;
}
html .news_collection.red .title,
html .news_collection.red .link {
  background: #ef0004;
  color: white;
}
html .news_collection.blue .title,
html .news_collection.blue .link {
  background: #16b6d3;
  color: white;
}
html .news_collection.purple .title,
html .news_collection.purple .link {
  background: #7f4198;
  color: white;
}
html .more-live {
  margin-top: 40px;
}
html .more-live h1 {
  color: #b52025;
  margin: 0px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
html .more-live .maincontent {
  background: white;
  padding: 20px;
  margin-top: 10px;
}
html .more-live .maincontent:after {
  clear: both;
  content: " ";
  display: block;
}
html .more-live .maintitle {
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding-top: 9px;
}
html .more-live .secondbutton a {
  background: #b52025;
  color: white;
  padding: 6px 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 5px 0px;
  float: right;
}
html .more-live .network {
  margin-top: 5px;
}
html .more-live .network a {
  background-image: url("img/social_red.png");
}
html .more-live .mainnote {
  margin-bottom: 5px;
}
html .more-live .mainnote a {
  margin: 5px 0px;
  color: #b52025;
  display: block;
  font-family: 'Cantata One', serif;
  font-size: 29px;
  line-height: 31px;
}
html .more-live .note {
  width: 24.2%;
  margin-left: 1%;
}
html .more-live .note a {
  font-family: 'Cantata One', serif;
  font-size: 15px;
  color: #333534;
}
html .more-live .note.note-1 {
  margin-left: 0px;
}
html footer {
  background: #333534 url("img/footer.png") no-repeat left top;
  font-family: "Lato", sans-serif;
  color: white;
  padding: 20px 0px 50px 0px;
}
html footer .rightinfo {
  text-align: right;
  color: #b8b8b8;
}
html footer .rightinfo a {
  color: #b8b8b8;
}
html footer h1 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: #b8b8b8 1px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
html footer .social {
  margin: 50px 0px 0px;
  float: right;
}
html footer .social li {
  list-style: none;
  float: left;
  margin-left: 11px;
}
html footer .social li a {
  text-indent: -5000px;
  background-image: url("img/social.png");
  background-repeat: no-repeat;
  height: 19px;
  width: 19px;
  display: block;
}
html footer .social li a.facebook {
  background-position: -27px 0px;
}
html footer .social li a.google {
  background-position: -54px 0px;
}
html footer .social li a.youtube {
  background-position: -81px 0px;
}
html footer .social li a.rss {
  background-position: -104px 0px;
  width: 114px;
}
html footer .search {
  padding: 7px 23px 7px 13px;
  background-image: url("img/search.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  margin-top: 10px;
  width: 84%;
  font-family: "Lato", sans-serif;
}
html footer ul {
  padding: 0px;
  margin: 0px;
}
html footer ul li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  margin-bottom: 8px;
}
html footer ul li a {
  color: #b8b8b8;
}
